* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-image: linear-gradient(to right, #85a3b9 0, #065f86 50%, #002356 100%);
}

ul li {
  list-style: none;
}