.tudo{
    width: 60%;
    margin: 0 auto;
    padding: 30px 30px 30px 30px;
    text-align: center;
    border: solid 1px black;
}

.linha{
    clear: both;
}

h1{
    background-color: rgba(248, 207, 214, 0.884);
    color: rgba(243, 93, 118, 0.884);
    padding: 10px 20px 10px 20px;

}

#foto{
    width: 20%;
    float: left;
    text-align: center;
}

#imgfoto{
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;

}

#dados{
    width: 80%;
    float: right;
    text-align: left;
    font-size: 20px;
}

.textodados{
    color: rgba(243, 93, 118, 0.884);
    font-weight: bolder;
}

h2{
    text-align: left;
    color: rgba(243, 93, 118, 0.884);
}

hr{
    border-color: rgba(243, 93, 118, 0.884);
}

p{
    text-align: left;
}

#coluna1{
    float: left;
    width: 49%;
    padding-right: 10px;
    color: rgba(243, 93, 118, 0.884);

}

#coluna2{
    float: left;
    width: 1px;
    background-color: rgba(243, 93, 118, 0.884);
    height: 300px;
}

#coluna3{
    float: right;
    width: 49%;
    padding-left: 10px;
    color: rgba(243, 93, 118, 0.884);

}